
.carousel{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel__wrapper{
    display: flex;
    width: 300vw;
}

.carousel__item{
    background-position: center;
    background-size: cover;
    position: relative;
    height: 380px;
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.carousel__item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.carousel__slide1{
    background-image: url('/img/bg-img/1.jpg');
}
.carousel__slide2{
    background-image: url('/img/bg-img/2.jpg');
}
.carousel__slide3{
    background-image: url('/img/bg-img/3.jpg');
}

.carousel__header{
    position: relative;
    z-index: 3;
    padding: 1.5rem 1rem;
}

.hero__title, .hero__subtitle{
    color: white;
    font-weight: 500;
}
