.border-bottom{
    border-bottom: 1px solid #d7d7d7;;
}

.container{
    padding: 0 15px;
    width: 100%;
}

section{
    padding-top: 100px;
}

@media screen and (min-width:960px) {
    .container{
        margin: auto;
        max-width: 1140px;
    }
}