.border-bottom{
    border-bottom: 1px solid #d7d7d7;;
}

.container{
    padding: 0 15px;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}

header{
    position: relative;
    z-index: 2;
    background-color: white;
}

section{
    padding-top: 100px;
    position: relative;
    z-index: 2;
}

@media screen and (min-width:960px) {
    .container{
        margin: auto;
        max-width: 1140px;
    }
}